In [1]:
import os
os.getcwd()

'C:\\Users\\ADMIN\\netflixRecommendation'

In [2]:
os.listdir()

['.ipynb_checkpoints', 'Netflix Recomendation System.ipynb', 'netflixData.csv']

In [3]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity   #a text base mapping tool that match text to text

In [4]:
data=pd.read_csv('netflixData.csv')

In [5]:
data.head(5)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.2+ KB

In [7]:
data.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [8]:
data=data[["Title", "Description", "Content Type", "Genres"]]

In [9]:
data.head(5)

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [10]:
data.dropna()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Movie,"Comedies, Dramas, International Movies"
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,TV Show,"International TV Shows, TV Dramas"
5964,海的儿子,"Two brothers start a new life in Singapore, wh...",TV Show,"International TV Shows, TV Dramas"
5965,반드시 잡는다,After people in his town start turning up dead...,Movie,"Dramas, International Movies, Thrillers"
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Movie,Children & Family Movies

In [11]:
data.isnull().sum()

Title           0
Description     0
Content Type    0
Genres          0
dtype: int64

In [12]:
import nltk
import re  #reguker expression library 
nltk.download('stopwords')
stemmer=nltk.SnowballStemmer("english") #create stemmer method
from nltk.corpus import stopwords #load stopwords
import string
stopword=set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
print(True)

True

In [14]:
def clean(text):
    text=str(text).lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub('https?://S+|www\.\S+', '',text)
    text=re.sub('<.*?>+', '',text)
    text=re.sub('[%s]' % re.escape(string.punctuation), '',text)
    text=re.sub('\n', '',text)
    text=re.text('\w*\d\w*', '',text)
    
    text=[word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    
    data["Title"]=data["Title"].apply(clean)

In [15]:
print(data.Title.sample(10))

2040                         Hi Score Girl
4761            The Death of Mr. Lazarescu
5808                              Whispers
4968                         The last hour
3003                                 Maska
2448                   Justice in the City
95      A Christmas Prince: The Royal Baby
1143           Cross: Rise of the Villains
466                                  Awake
3403      Night on Earth: Shot in the Dark
Name: Title, dtype: object

In [16]:
data.Genres

0                                           Reality TV
1       Horror Movies, International Movies, Thrillers
2                  Documentaries, International Movies
3                                          TV Comedies
4                  Documentaries, International Movies
                             ...
5962            Comedies, Dramas, International Movies
5963                 International TV Shows, TV Dramas
5964                 International TV Shows, TV Dramas
5965           Dramas, International Movies, Thrillers
5966                          Children & Family Movies
Name: Genres, Length: 5967, dtype: object

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity  #how much similerity are there in mapping

In [18]:
feature=data["Genres"].tolist()

#create an instance of TF IDF Vectorizer
tfidf=TfidfVectorizer(stop_words='english')


#fit transform the vectorizer on our corpus 
tfidf_matrix=tfidf.fit_transform(feature)

similarity=cosine_similarity(tfidf_matrix)

indices=pd.Series(data.index, index=data["Title"]).drop_duplicates()

In [19]:
def netflix_recomendation(title):
    try:
        index=indices[title]
        similarity_scores=list(enumerate(similarity[index]))
        similarity_scores=sorted(similarity_scores, key=lambda x:x[1], reverse=True )
        similarity_scores=similarity_scores[0:20]
        movieindices=[i[0] for i in similarity_scores]
        return data['Title'].iloc[movieindices]
    except:
        print("Not in databse")

In [20]:
netflix_recomendation("Tiger 3")

Not in databse